/*html*/
/*body*/
html, body
{
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    padding: 0;
    background-image: url('images/bnwpic.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header
{
    background: rgba(0,0,0,.5);
    border-bottom: 1px solid white;
}

#logo
{
    margin-top: .5em;
    margin-left: 4em;
    margin-bottom: .5em;
    float: left;
    outline: none;
    border-radius: 5px;
    transition: 500ms;
    opacity: 1;
}

#title
{
    color: rgba(255,255,255,1);
    font-family: lucida handwriting;
    font-size: 25px;
    float: left;
    margin-left: .3em;
    margin-top: .7em;
    transition: 500ms;
    opacity: 1;
}

.container
{
    max-width: 980px;
    margin: 0 auto;
    padding: 2px 10px;
    z-index: 4;
}

#para
{
    margin-right: 0em;
    text-indent: 1.1em;
    cursor: pointer;
}

nav
{
    padding-right: 0px;
}

nav a, nav a:visited, nav a:active
{
    color: white;
    margin-right: 0px;
    padding-bottom: 6px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 700ms;
    outline: none;
}

.nav-class
{
    border: none 1px white;
}

.bar
{
    position: relative;
    top: .7em;
}

.nav-class li
{
    display: inline-block;
}

.nav-class li input[type=text],
.nav-class li input[type=password]
{
    border: solid 1px white;
    background: black;
    color: white;
    padding: 3px;
    margin-top: .5em;
    border-radius: 10px;
    margin-left: .5em;
    margin-right: .5em;
    transition: 500ms;
    text-indent: 10px;
}


textarea:focus, input:focus{
    outline: none;
    box-shadow: 0 0 10px white;
}

nav a:active
{
    text-decoration: none;
    outline: none;
}

nav a:hover
{
    border-bottom: 1px solid rgb(255,10,10);
    color: rgb(255,10,10);
    text-decoration: none;
    transition: 700ms;
    outline: none;
}

#exit
{
    color: white;
    margin-right: 0px;
    padding-bottom: 6px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 700ms;
    outline: none;
    cursor: pointer;
}

#exit:hover
{
    border-bottom: 1px solid rgb(255,10,10);
    color: rgb(255,10,10);
    text-decoration: none;
    transition: 700ms;
    outline: none;
    cursor: pointer;
}

/*signup form*/

#exit
{
    color: white;
    float: right;
    transition: 500ms;
    padding-bottom: 4px;
    border: solid 1px transparent;
    
}

.signupForm
{
    border: 1px solid white;
    max-width: 30em;
    float: right;
    padding: 10px;
    margin-right: 5em;
    margin-top: 0em;
    opacity: 0;
    transition: 500ms;
    background: rgba(0,0,0,.5);
}

.signuptable, .signuptable tr td
{
    color: white;
    padding: .5em;
}

.signuptable tr td input[type=text],
.signuptable tr td input[type=password],
.signuptable tr td input[type=email],
.signuptable tr td input[type=date]
{
    border: solid 1px white;
    background: black;
    color: white;
    padding: 3px;
    margin-top: .5em;
    border-radius: 10px;
    margin-left: .5em;
    margin-right: .5em;
    transition: 500ms;
    text-indent: 10px;
}



.Btn
{
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 0px;
    padding: 4px;
    border: solid 1px white;
    background: transparent;
    color: white;
    width: 90px;
}

.Btn:hover
{
    transition: 500ms;
    color: white;
}

