/*html*/
/*body*/
html, body
{
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    padding: 0;
    background-image: url('images/bnwpic.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header
{
    background: rgba(0,0,0,.5);
    border-bottom: 1px solid white;
}

#logo
{
    margin-top: .5em;
    margin-left: 4em;
    margin-bottom: .5em;
    float: left;
    outline: none;
    border-radius: 5px;
    transition: 500ms;
    opacity: 1;
}

#title
{
    color: rgba(255,255,255,1);
    font-family: lucida handwriting;
    font-size: 25px;
    float: left;
    margin-left: .3em;
    margin-top: .7em;
    transition: 500ms;
    opacity: 1;
}

.container
{
    max-width: 980px;
    margin: 0 auto;
    padding: 2px 10px;
    z-index: 4;
}

#para
{
    margin-right: 0em;
}

nav
{
    padding-right: 0px;
}

#welcome
{
    color: white;
    font-size: larger;
    margin-top: .5em;
}

#welcome span
{
    padding: .1em;
    border-bottom: 1px solid green;
}

nav a, nav a:visited, nav a:active
{
    color: white;
    margin-right: 0px;
    padding-bottom: 6px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 700ms;
    outline: none;
}

.nav-class
{
    border: none 1px white;
}

.bar
{
    position: relative;
    top: .7em;
}

.nav-class li
{
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
}

.nav-class li input[type=text],
.nav-class li input[type=password]
{
    border: solid 1px white;
    background: black;
    color: white;
    padding: 3px;
    margin-top: .5em;
    border-radius: 10px;
    margin-left: .5em;
    margin-right: .5em;
    transition: 500ms;
    text-indent: 10px;
}


textarea:focus, input:focus{
    outline: none;
    box-shadow: 0 0 10px white;
}

nav a:active
{
    text-decoration: none;
    outline: none;
}

/*nav a:hover
{
    border-bottom: 1px solid rgb(255,10,10);
    color: rgb(255,10,10);
    text-decoration: none;
    transition: 700ms;
    outline: none;
}*/


.Btn
{
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 0px;
    padding: 4px;
    border: solid 1px white;
    background: transparent;
    color: white;
    width: 90px;
}

.Btn:hover
{
    transition: 500ms;
    color: white;
}

/*content*/
.body_container
{
    padding: 1em;
}

.body_divs
{
    border: 1px solid transparent;
    float: left;
    max-height: 100%;
    
}

#profile
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 20px double rgba(255,255,255,.7);
}

#left
{
    width: 30%;
    padding: 1em;
}

#left ul
{
    padding: 1em;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 1;
}

#left ul li
{
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: rgba(10,10,10,.5);
}

#left ul li span
{
    color: white;
    text-decoration: none;
    transition: 700ms;
    outline: none;
    font-family: monospace;
    padding: .3em;
    margin-left: 2em;
    font-size: x-large;
}

#left ul li:hover
{
    color: white;
    text-decoration: none;
    transition: 700ms;
    outline: none;
    font-family: monospace;
    background: rgba(255,10,10,.5);
    cursor: pointer;
}

#left ul li img
{
    color: white;
    text-decoration: none;
    transition: 700ms;
    outline: none;
    font-family: monospace;
    margin-left: 0em;
}

#right
{
    width: 70%;
    padding: 1em;
}

.gallery
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    padding: 1em;
    width: 80%;
    height: auto;
    overflow: auto;
    background: rgba(0,0,0,.5);
}

.pics
{
    border: 1px solid blue;
    height: 200px;
}

.img
{
    border: 1px solid yellow;
    height: 200px;
    height: auto;
    overflow: auto;
    padding: .3em;
}

.desc
{
    padding: 15px;
    text-align: center;
    color: white;
}

.window
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    padding: 1em;
    width: 80%;
    height: auto;
    overflow: auto;
    background: rgba(0,0,0,0);
}

#content
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    padding: 1em;
    width: 80%;
    overflow: hidden;
    background: rgba(0,0,0,0);
    transition: 500ms;
    opacity: 0;
}

iframe
{
    overflow: hidden;
}